@{
    ViewBag.Title = "الصفحة الرئيسية";
}

<div class="jumbotron" dir="rtl">
    <h1>تعريف المكتب</h1>
    <p class="lead">يظهر تعريف مكتب المستشار للاستشارات القانونية وقائمة ""للاتصال بنا"" لجميع مستخدمي الموقع بمجرد الدخول دون الحاجة لتسجيل الدخول كمستخدم</p>
</div>

<div class="row" dir="rtl">
    <div class="col-md-4" dir="rtl">
        <h2>تعديل بيانات قضية</h2>
        <p>
            يقتصر ظهور هذه القائمة على المستخدم الرئيسي (admin)
        </p>
    </div>
    <div class="col-md-4" dir="rtl">
        <h2>الاستعلام عن بيانات قضية</h2>
        <p>تظهر هذه القائمة لجميع مستخدمي الموقع ولكن لا تظهر إلا بعد تسجيل الدخول</p>
    </div>
    <div class="col-md-4" dir="rtl">
        <h2>تسجيل الدخول ومستخدم جديد</h2>
        <p>تظهر فقط عند فتح الموقع وتختفي بمجرد تسجيل الدخول ويحل محلها قائمة تسجيل الخروج </p>
    </div>
</div>